*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
/test/results.jl
/g.pdf
/h.pdf
/MSE_vec.jld2
/Global_optim_methods.csv
/Diff_Ev_methods.csv
/src/utils.jl
/2020-2024-Phéno_prod.xlsx
/Data_BB_Hainfeld.xlsx
/test/train_algorithm_tests.jl